<div class="row">
    <nav class="nav-wrapper topnav col-md-12">
        <div class="float-left">
            <a href="/" class="center">
                <h1>Peruse EchoJS News</h1>
            </a>
        </div>
        <div class="float-right">
            <ul class="right">
                <li class="bold"><a href="/scrape">SCRAPE IT</a></li>
                <li><a href="/articles">All Articles</a></li>
                <li><a href="#">Git Repo</a></li>
            </ul>
        </div>

    </nav>
</div>